html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card__icon {
  width: 80px;
  height: 80px;
  margin-right: 0px;
}

.card__title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.logo {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  margin-right: 500px;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  
}

.site-layout-content {
  /* display: flex; */
  flex-wrap: wrap;
  gap: 32px;
  margin: 48px 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  padding: 16px;
  margin: 2px -20px;
  align-items: center;
}
.header_button {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: bold;
  background: none;
}